@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: silk-screen;
  src: url("./assets/fonts/Silkscreen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: "Roboto";
  --font-display: "silk-screen";
  --clr-primary: #1C3879;
  --clr-secondary: #607EAA;
  --clr-primary-light: #EAE3D2;
  --clr-secondary-light: #F9F5EB;
  --clr-primary-dark: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-color: var(--clr-primary);
  font-family: var(--font-primary);
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--clr-primary-light);
  width: 70vw;
  min-height: 100vh;
  padding: 1rem;
  box-shadow: 5px 5px 15px 5px var(--clr-primary-dark);
  outline: 5px solid var(--clr-secondary);
  border-radius: 0.8rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  margin-top: 6rem;
  height: 70%;
  place-content: center;
}

.main-section {
  background-color: var(--clr-secondary);
  padding: 20px;
  border-radius: 10px;

}

.main-section img {
  width: 100%;
}

.main-section p {
  text-align: center;
  margin-top: 15px;
}

.main-section--link {
  font-weight: bold;
  color: var(--clr-primary-light);
  background-color: var(--clr-primary);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--clr-primary-dark);
}

.main-section--link:hover {
  box-shadow: 2px 2px 10px var(--clr-primary-light);
}

.main-recipes ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  min-height: 100%;
}

.main-recipes li {
  margin-top: 20px;
}

.navbar-header {
  font-size: 4.25rem;
  text-align: center;
  font-family: var(--font-display);
  color: var(--clr-secondary);
  text-shadow: 2px 2px var(--clr-primary-dark);
}

@media screen and (max-width: 720px) {
  .container {
    max-width: 100%;
    width: 95vw;
    padding: 0.5rem;
  }

  .main {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    margin-top: 3rem;
  }

}